* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: #060907;
}

html, body {
  background-color: #F1F1F1;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

#root {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  width: 100%;
}